<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <!--自动下载壁纸时间间隔（单位：分钟）-->
        <add key="AutoDownloadWallpaperInterval" value="5" />
        <!--自动更换壁纸时间间隔（单位：秒）-->
        <add key="AutoChangeWallpaperInterval" value="60" />
        <!--最新壁纸显示开始时间（单位：时）-->
        <add key="TheNewestWallpaperStartTime" value="8" />
        <!--最新壁纸显示结束时间（单位：时）-->
        <add key="TheNewestWallpaperEndTime" value="10" />
    </appSettings>
</configuration>